/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --primary-color: #F58613;
    --secondary-color: #351F16;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
